@{
    var currentUrl = ViewContext.RouteData.Values["Action"]!.ToString();
    ViewData["Title"] = "_LoggedInNavbar";
    
}

<div class="nav flex-column nav-pills p-3 me-3 left-bar align-items-centerr loggedin" id="v-pills-tab" role="tablist"
     aria-orientation="vertical">
    <div class="icon-container">
        <a href="#" class=" d-flex justify-content-center icon">
            <img src="~/image/icon.png" class="toggle-img" alt="" width="150">
        </a>
        <button id="toggleSidebar" class="nav-link float-end">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-list" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
            </svg>
        </button>
    </div>

    <a class="nav-link text-start @(currentUrl == "Index" ? "active" : "")" asp-action="Index" asp-controller="WorkoutPlan">
        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor"
             class="bi bi-house-door-fill">
            <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5" />
        </svg>
        <span class="btn-text">Home</span>
    </a>
    <a class="nav-link text-start @(currentUrl == "CreatePlan" ? "active" : "")" asp-action="CreatePlan" asp-controller="WorkoutPlan">
        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor"
             class="bi bi-pencil-square">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
            <path fill-rule="evenodd"
                  d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
        </svg>
        <span class="btn-text">Create workout plan</span>

    </a>
    <a class="nav-link text-start @(currentUrl == "YourPlans" ? "active" : "") plans" asp-action="YourPlans" asp-controller="WorkoutPlan">
        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor"
             class="bi bi-journal-bookmark-fill">
            <path fill-rule="evenodd" d="M6 1h6v7a.5.5 0 0 1-.757.429L9 7.083 6.757 8.43A.5.5 0 0 1 6 8z" />
            <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2" />
            <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1z" />
        </svg>
        <span class="btn-text"> Your plans</span>
    </a>

        <ul class="list-group" style="display: none;">
            
            @foreach (var item in Model)
            {
                <li class="list-group-item">@item.Name</li>
            }
            
        </ul>
    <a class="nav-link text-start @(currentUrl == "Instruction" ? "active" : "")" asp-action="Instruction" asp-controller="WorkoutPlan">
        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor"
             class="bi bi-mortarboard">
            <path d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917zM8 8.46 1.758 5.965 8 3.052l6.242 2.913z" />
            <path d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466zm-.068 1.873.22-.748 3.496 1.311a.5.5 0 0 0 .352 0l3.496-1.311.22.748L8 12.46z" />
        </svg>
        <span class="btn-text">Instruction</span>
    </a>
    <div class="nav-link user text-start dropend " style="width: 100%; padding:0px; height:41.5px">
        <button class="btn w-100 nav-link text-start @(currentUrl == "Profile" ? "active" : "")" id="v-pills-messages-tab" data-bs-toggle="dropdown" aria-expanded="false"
                data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages"
                aria-selected="false">
            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-person-fill bi-2x">
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
            </svg>
            <span class="btn-text">Profile</span>
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" asp-action="Profile" asp-controller="WorkoutPlan">Your profile</a></li>
            <li><a class="dropdown-item" asp-action="Logout" asp-controller="Account">Logout</a></li>
        </ul>
    </div>

</div>
